﻿
@model IEnumerable<P3ople4u_TechExam.Models.UnusualRateModel>

<div>
    <h1>@ViewBag.Title</h1>
</div>

@if(Model.Count() > 0)
{
 <table>
    <thead>
        <tr>
            <th>Customer</th>
            <th>Event</th>
            <th>Participant</th>
            <th>Stake</th>
            <th>Win</th>
            <th>Remarks</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Customer</td>
                <td>@item.Event</td>
                <td>@item.Participant</td>
                <td>@item.Stake</td>
                <td>@item.Win</td>
                <td>@item.Remarks</td>
            </tr>
        }
    </tbody>
</table>   
}
else
{
    <span>No unusual data was seen in the records.</span>
}

<div>
    @Html.ActionLink("Go back to Main Page","Index")
</div>