﻿
<div>
    <h1>Risk Application</h1>
</div>



<div>
    @using(Html.BeginForm("CheckRates","Risk",FormMethod.Post))
    {
     <table>
        <tr>
            <td>
                <strong>Select Data:</strong>
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                @Html.DropDownList("Options", ViewData["Options"] as SelectList)
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <div style="height:20px"></div>
            </td>
        </tr>
        <tr>
            <td colspan="3" style="text-align:center">
                <input id="btnSubmit" type="submit" value="Submit" />
            </td>
        </tr>
    </table>   
    }
</div>